body {
  padding: 100px;
}

.range-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 15px;
}

.range-slider > input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}

.range-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #b2b2b2;
  cursor: pointer;
  border: 0 !important;
}

.range-slider > input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #b2b2b2;
  cursor: pointer;
  border: 0 !important;
}

.range-slider > input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #b2b2b2;
  cursor: pointer;
  border: 0 !important;
}

.range-slider > input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

.range-slider > input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

.range-slider > input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}

.range-slider > input:focus {
  background: none;
  outline: none;
}

.range-slider > input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-slider > .labels {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 25px 0 0 0;
  width: 100%;
  list-style: none;
}

.range-slider > .labels li {
  position: relative;
}

.range-slider > .labels li::before {
  position: absolute;
  top: -27px;
  right: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
  pointer-events: none;
}

.range-slider > .labels li:first-child::before {
  right: unset;
}

.range-slider > .labels li:last-child::before {
  left: unset;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
}

.modal-body img {
  width: 100%;
}


